@model MyWebApp.Models.ViewModel.ProductVM

<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h2 class="text-primary">List Of Orders</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Order" asp-action="Index" asp-route-staus="pending">
                Pending
            </a>
            <a asp-controller="Order" asp-action="Index" asp-route-status="approved">
                Approved
            </a>
        </div>
    </div>

</div>

<table id="myTable" class=" table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Order Status</th>
            <th>Order Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    @*  <tbody>
    @foreach (var item in Model.Products)
    {
    <tr>
    <td> @item.Name</td>
    <td> @item.Description</td>
    <td> @item.Price</td>
    <td> @item.Category</td>




    <td role="group">
    <a asp-action="createupdate" asp-controller="category" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
    <a asp-action="delete" asp-controller="category" onclick="return confirm('are you sure you want to delete this?')" asp-route-id="@item.Id"><i class="bi bi-trash3-fill"></i></a>
    </td>
    </tr>

    }
    </tbody>*@
</table>

@section scripts{
               <script src="~/js/Order.js"></script>
}
